Package: com.shepgoba.atkeyboard
Name: AtKeyboard
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Use email keyboard type everywhere (@ symbol)
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
Version: 1.0
Installed-Size: 104
